.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: white !important;
    margin-bottom: 50px !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #1976d2 !important;
}