 .ander {
    margin: 30px 30px 40px;
    position: relative;
  }
   .ander::before,
   .ander::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 5px;
  }
   .ander::before {
    background-color: white;
    width: 200px;
  }
  .ander::after {
    background-color: black;
    width: 50px;
    animation: pop 3.9s linear infinite;
  }
  @keyframes pop {
    0%,
    100% {
      width: 50px;
    }
    50% {
      width: 200px;
    }
  }