.all-server-bot{
    display: flex;
    align-items: center;
    justify-content: center;
}
.server-bot{
    display: flex;
    flex-direction: column;
}
.d-hiden{
    /* display:none; */
    visibility: hidden;
}
.sidebar-brand{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}