.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  *{
    text-decoration: none;
  }

  .ag-courses_box {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0; */
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(69.33333% - 30px);
    flex-basis: calc(69.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }


  .ag-courses-item_link:hover .op3-ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }

  .ag-courses-item_title {
    /* min-height: 87px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #3f0d8a;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .op3-ag-courses-item_bg{
    height: 128px;
    width: 128px;
    background-color: #d50100;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

 
  
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
.l3 {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: #fff;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  .l3:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 45px;
    height: 45px;
    background: #d50100;
    border-radius: 90px;
    transition: 0.6s;
  }
  
  input:checked + .l3 {
    background: #080808;
  }
  
  input:checked + .l3:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  .l3:active:after {
    width: 160px;
  }
  h2{
    color: #FFF  ;
    z-index: 99;
  }